---
layout: default
skills:
  - icon: bomb
    title: Choosing Wine
    desc: This is a description about my first skill
  - icon: superpowers
    title: Opening Wine
    desc: This is a description about my second skill
  - icon: facebook
    title: Sniffing Wine
    desc: This is a description aout my third skill
  - icon: plane
    title: Swirling Wine
    desc: This is a description about my fourth skill
  - icon: twitter
    title: Drinking Wine
    desc: This is a description about my fifth skill
  - icon: linkedin
    title: Finishing Wine
    desc: This is a description about a sixth skill

---

<!-- we add the top-banner class to eable us to add the giphy -->
    <section class="top-banner center">
      <header>
        <div>LOGO</div>
        <nav>
          <a href="#about">About</a>
          <a href="#skills">MadSkillz</a>
          <a href="#experiences">Experiences</a>
          <a href="#contact">Call Me?</a>
         </nav>

      </header>

      <div class="header-title">
        <h1>Tresna Lee</h1>
        <h2>Wine Drinker</h2>
        <h3> <i class="fa fa-star-o" aria-hidden="true"></i>
Melbourne Australia</h3>

      </div>


    </section>

<!--  This is where I talk about me-->
    <section id="about" class="featured center">


      <div class="featured-box">
        <h2>About me </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

    <section id="skills" class="grid center">
<!-- Skills Section -->

      <h2 class="col-12">My Mad Skillz </h2>

      {% for skill in page.skills %}
      <div class="col-4_md-6_sm-12">
        <i class="fa fa-{{skill.icon}}" aria-hidden="true"></i>
        <h3>{{skill.title}}</h3>
        <p>{{skill.desc}}</p>
      </div>
      {% endfor %}

    </section>

  {% include map.html %}

      <section id="experiences" class="experiences">
        <!--Section For My Experience  -->
      <h2>My Experience </h2>

      <div class="grid"> <!-- This is a div to hold all of the experience -->
        <!-- Experience 1 -->

        <i class="fa fa-caret-up col-1" aria-hidden="true"></i>
        <div class="col-3">

          <!-- Another Div to Hold the job and role (as it has two styles of H) -->
          <h3 >The Wine Shop</h3>
          <h4 >Drinker</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <i class="fa fa-caret-up col-1" aria-hidden="true"></i>
        <div class="col-3">
          <!-- Experience 2 -->

          <h3>The Other Wine Shop</h3>
          <h4>Quaffer</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <i class="fa fa-caret-up col-1" aria-hidden="true"></i>
        <div class="col-3">

          <!-- Experience 3 -->

          <h3>That Wine Shop With The Cheese</h3>
          <h4>Tippler and Resident Cheese nerd</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <i class="fa fa-caret-up col-1" aria-hidden="true" ></i>
        <div class ="col-3">
          <!-- Experience 4 -->

          <h3>That Time I Didn't Work In Wine </h3>
          <h4>Loser</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <i class="fa fa-caret-up col-1" aria-hidden="true"></i>
        <div class="col-3">
          <!-- Experience 5 -->

          <h3>The Bottle Shop</h3>
          <h4>Fledgling Wine Snob</h4>
        </div>
        <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      </div>

      </section>

      <footer id="contact" class="featured center">
        <h2>Call Me Maybe?</h2>
        <a href="mailto:hi@vino.com">hi@vino.com</a>
        <a href="tel:0416201316">0416201316</a>

        <nav>
          <a target="_blank" href="https://www.instagram.com/tresnalee/">Instagram</a>
          <a target="_blank" href="https://www.facebook.com/tresna.lee">Facebook</a>
          <a target="_blank" href="https://www.linkedin.com/in/tresna-lee/">LinkedIn</a>
        </nav>
      </footer>


    <!-- End Body this is where the website content goes -->
